/* bens style sheet */

#side_nav {
    display:inline-block;
    border-color:red;
    float:left;
    background-color:blanchedalmond
}

#ben_body {
    display:inline-block;
    border-radius:5px;
    border-color:palegreen;
    border-style:dotted;
    padding:5px;
    border:5px;
    position:relative;
    background-color:azure;
    float:right;
    position:fixed;
}

.benu {
    border:1px dotted;
    border-color:beige;
    /*margin:4px;*/
    display:block;
}

img {
    border-style:dashed;
    /*width:5px;*/
}

.coins {
    border-style:inset;
    border-color:bisque;
    margin:5px;
    display:inline-block;
}

/* psuedo class selector */

.hoverSay {
    color:lightgray;
    font-size:.5em;
}

.hoverSay:hover {
    color:blueviolet;
    font-size:1em;
}

